*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* nav */

.navbar-toggler-icon {
    background: url(./Assets/three_line.png);
    background-size: cover;
}

.navbar-brand {
    color: #ff8b00;
    font-weight: 600;
    transition: 0.2s;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #ff8b00;
    text-shadow: 0 0 4px#ff8b00;
}

.nav-item a {
    color: #fff;
    font-size: 18px;
}

.nav-item .active-home,
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    color: #ff8b00;
}

.about-dropdown,
.dropdown-item:hover {
    background-color: #222;
}

header {
    background: #222;
    position: static;
    top: 0;
}

.navbar-nav li {
    padding-left: 10px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/* -----------------Home---------------- */

.carousel-img1 {
    background: url('./Assets/home1.png');
}

.carousel-img2 {
    background: url('./Assets/home2.png');
}

.carousel-item {
    height: 80vh;
    min-height: 400px;
    background-size: cover;
  }

  .carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
  }

/*----------- services-------------- */

.services {
    background-color: #222;
    min-height: 100vh;
    text-align: center;
}

.services h2 {
    color: #ff8b00;
}

.card-container {
    text-align: start;    
}

.card-container p,
.services-top-content {
    color: rgba(255, 255, 255, 0.5);
}

.card-container i {
    color: #ff8b00;
    font-size: 50px;
}

.card-container h3 {
    color: white;
    margin: 10px 0;
}

.services2,
.services3 {
    background-color: #222;
}

.services2 h3 {
    color: #ff8b00;
    font-family: "Oswald", sans-serif !important;
}

.services2 p {
    color: #999;
    line-height: 30px;
}

.services2 li {
    color: #999;
    list-style: none;
    margin-left: -30px;
}

.fa-check {
    color: #ff8b00;
}

.services3 video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

@media only screen and (max-width: 575px) {
    .carousel-item {
      height: 50vh;
      background-position: center;
    }

    .services3 video {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

  }

@media only screen and (min-width: 1400px) {
    .carousel-content {
        padding: 0 400px  !important;
    }

  .carousel-content h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: "Oswald", sans-serif !important;
  }
  .carousel-content p {
    font-size: 18px;
  }
}

@media only screen and (min-width:1000px) and (max-width:1400px) {
    .carousel-content {
        padding: 0 300px  !important;
    }

    .carousel-content h1 {
        font-size: 50px;
        font-family: "Oswald", sans-serif !important;
    }
}